
%h1
  = "So #{@first_name}, you forgot your password did you?"

= image_tag "http://assets.diylol.com/hfs/77c/7f6/ef1/resized/stewie-griffin-meme-generator-reset-my-password-reset-it-now-i-say-182de9.gif?1308770153.jpg", height: "250"

%p Lucky for you we have a bunch of password elves that will rest it for you. Just make sure to send in some cookies. Elves love cookies you know.

%p
  = link_to "Take me to the reset password place", password_reset_url(@reset_token)
