= image_tag "http://img2.wikia.nocookie.net/__cb20120303044205/logopedia/images/e/e8/Nutflix_logo.jpg"

%h1
  = "Welcome #{@user.full_name}"

%p We are sure you are going to love the video selection here at Nutflix. Here is a video that gives some history about our site.

%p
  = link_to "Nutflix, worth a look", @url
