---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4cgHRJTF0yNjbQ",
          "livemode": false,
          "created": 1408509685,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4cgHymYJr7VM7o",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "plupg2dOi0Qyzlx4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_4cgHRJTF0yNjbQ
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_4cgHa7UQIGNd9F",
          "object": "charge",
          "created": 1408509685,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_4cgHymYJr7VM7o",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "plupg2dOi0Qyzlx4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null,
            "type": "Visa"
          },
          "captured": true,
          "balance_transaction": "txn_4cgHR2ZfkzAwa8",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "fee": 33,
          "fee_details": [
            {
              "amount": 33,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ],
          "disputed": false
        }
  recorded_at: Wed, 20 Aug 2014 04:41:26 GMT
recorded_with: VCR 2.9.2
