= javascript_include_tag "arrays"

%h1 Lets go visit:
#places

%br
%br
%p
  %input{type:"button", value:"add a place", onclick:"addPlace()"}
  %input{type:"button", value:"alphabetize", onclick:"alphabetize()"}
  %input{type:"button", value:"remove last", onclick:"removeLast()"}

