%h1
  Javascript Exercises:
%h2
  = link_to 'Math', page_path('math')
%h2
  = link_to 'Translations', page_path('translations')
%h2
  = link_to 'Basics', javascript_tests_path
%h2
  = link_to 'Arrays', page_path('arrays')
