= javascript_include_tag "math"

%input{type:"button", value:"add",      onclick: "add()"}
%input{type:"button", value:"subtract", onclick: "subtract()"}
%input{type:"button", value:"multiply", onclick: "multiply()"}
%input{type:"button", value:"divide",   onclick: "divide()"}
