= javascript_include_tag "strings"

#original_poem{style:"margin:20px"}
#replaced_poem{style:"margin:20px"}
#sports{style:"margin:20px"}

%input{type:"button", value:"replace vowels", onclick:"replaceVowels()", style:"margin:30px; padding:5px"}

