= javascript_include_tag "translations"

%input{type:"button", value: "English", onclick:"onButtonClick('english')"}
%input{type:"button", value: "Spanish", onclick:"onButtonClick('spanish')"}
%input{type:"button", value: "French",  onclick:"onButtonClick('french')"}
%input{type:"button", value: "Hebrew",  onclick:"onButtonClick('hebrew')"}


