---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2010&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration year is invalid.",
            "type": "card_error",
            "param": "exp_year",
            "code": "invalid_expiry_year"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:33 GMT
recorded_with: VCR 2.9.2
