---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4cgHq5GKbKDWCT",
          "livemode": false,
          "created": 1408509686,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4cgHDIbQ7DN1fN",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "0BQG7dBmVfFnOxnx",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_4cgHq5GKbKDWCT
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_4cgHvISLk3Pfx4"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:27 GMT
recorded_with: VCR 2.9.2
