---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4cgHbYASS3Eo9p",
          "livemode": false,
          "created": 1408509689,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4cgH6QLui1obfR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "plupg2dOi0Qyzlx4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_4cgHbYASS3Eo9p
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1408509689,
          "id": "cus_4cgHXiBWaAnclz",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4cgHXiBWaAnclz/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4cgHXiBWaAnclz/cards",
            "data": [
              {
                "id": "card_4cgH6QLui1obfR",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "plupg2dOi0Qyzlx4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4cgHXiBWaAnclz",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_4cgH6QLui1obfR",
          "active_card": {
            "id": "card_4cgH6QLui1obfR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "plupg2dOi0Qyzlx4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4cgHXiBWaAnclz",
            "type": "Visa"
          },
          "subscription": null
        }
  recorded_at: Wed, 20 Aug 2014 04:41:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_4cgHXiBWaAnclz
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_4cgHfuJTNVnGtv",
          "object": "charge",
          "created": 1408509690,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_4cgH6QLui1obfR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "plupg2dOi0Qyzlx4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4cgHXiBWaAnclz",
            "type": "Visa"
          },
          "captured": true,
          "balance_transaction": "txn_4cgHQPosjUu1Zi",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4cgHXiBWaAnclz",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "fee": 33,
          "fee_details": [
            {
              "amount": 33,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ],
          "disputed": false
        }
  recorded_at: Wed, 20 Aug 2014 04:41:30 GMT
recorded_with: VCR 2.9.2
