---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=Not-a-valid-customer-id
    headers:
      Authorization:
      - Bearer sk_07T34CRl5zUcY9hTanGC9v8CuTDs4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-07-09'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: Not-a-valid-customer-id",
            "param": "customer"
          }
        }
  recorded_at: Wed, 20 Aug 2014 04:41:31 GMT
recorded_with: VCR 2.9.2
